Package: com.legacyreddit.client
Name: Legacy Reddit
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Native Reddit client for jailbroken iOS 12 devices.
Maintainer: LegacyReddit
Author: LegacyReddit
Section: Applications
Priority: optional
Depends: firmware (>= 12.0)
